@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>wAndreful</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
</head>
<body>
    <h1>Welcome to wAnderful!</h1>
    <h3>Get ready to discover.</h3>
</body>
</html>
